

body{
    background-color: black;
    color: greenyellow;
}


.songTimmer{
    width: 100%;
}



.songTimerBar{
    background-color: white;
    height: 8px;
    cursor: pointer;
    border-radius: 40px;
    min-width: 100%;
}

.momentBar{
    width: 0;
    height: 100%;
    background-color: red;
    border-radius: 40px;
}